body{
    margin: 0;
    padding: 0;
    background-image: url(Affopics/clean-medical-background/affoback.jpg);
    background-size: cover;
    font-family: 'Overpass', sans-serif;
    /* background: #e3ccb2;  */
    height: 100vh;
    overflow: hidden;
}


.mainbody a{
    text-decoration: none; 
    color: black ; 
    position: absolute;
    margin: 3rem 100rem ;
    font-size: 1.5rem;
}
.mainbody a button{
    width: 50%;
    height: 30px;
    margin-left: 80px;
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
    font-size: 16px;
    background-color:white;
    color: #EB68A0;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.mainbody a button:hover{
    color: white;
    background-color: #A8DACD;
    border-color: #A8DACD;
}
.mainbody a:hover{
    text-decoration: underline;
    color: #EB68A0;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.center h1{
    color: #EB68A0;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #A8DACD;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #EB68A0;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #EB68A0;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 50%;
    height: 50px;
    margin-left: 80px;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 30px;
    border-color: #A8DACD;
    font-size: 18px;
    background-color:#A8DACD;
    color: #EB68A0;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #EB68A0;
    background-color: white;
    transition: .1s;
}
